#container {
  width: 960px;
  margin: auto;
  background-color: #000080;
  box-shadow: 0px 2px 20px blue;
  margin-bottom: 50px;
}

.circle {
  stroke-width: 1;
  stroke: white;
  fill: red;
}

.tip {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 2px 5px black;
  padding: 10px;
}
.tip p {
  margin: 0px;
  padding: 5px;
  font-family: serif;
  font-size: 16px;
  text-align: left;
}

body {
  background-color: #ccc;
}

h1 {
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 5px black;
  margin-top: 60px;
  margin-bottom: 70px;
}

path {
  stroke: yellow;
  stroke-width: 0.25px;
  fill: #006600;
}
